<!DOCTYPE html>
<html>
    <head>
        <title>Pixel Canvas</title>
        <style>
            canvas {
                image-rendering: pixelated;
                border: 1px solid black;
            }
        </style>
    </head>

    <body>
        <div style="display: flex; align-items: flex-start">
            <canvas id="canvas" data-size="{{canvas_size}}"></canvas>

            <div style="margin-left: 16px">
                <button onclick="createCanvas()">+ Add Canvas</button>
                <div id="canvasButtons" style="margin-top: 8px"></div>
            </div>
        </div>

        <div>
            <input type="color" id="colorPicker" value="#000000" />
        </div>
        <script src="static/canvas.js"></script>
    </body>
</html>
